<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>代码生成</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <style>
        html, body {
            padding: 0;
            margin: 0;
            font-size: 14px;
            width: 100%;
            height: 100%;
        }

        header {
            height: 60px;
            background-color: #393D49;
        / / #909399;
            line-height: 60px;
        }

        header h2 {
            margin: auto;
        }

        main {
            width: 80%;
            height: calc(100% - 170px);
            margin: 30px auto;
            overflow: scroll;
        }

        .layui-elem-field legend {
            font-size: 16px;
        }

        footer {
            height: 50px;
            background-color: #ccc;
            text-align: center;
            line-height: 50px;
        }

        main::-webkit-scrollbar {
            display: none
        }
    </style>
</head>
<body>
<header>
    <div class="layui-row" style="width: 80%; margin: auto">
        <div class="layui-col-xs9">
            <h2 style="color: #fff;text-indent: 10px;">
                <i class="layui-icon layui-icon-tree"style="font-size: 30px;"></i>
                代码生成平台
            </h2>
        </div>
        <div class="layui-col-xs3" style="text-align: right">
            <ul class="layui-nav"> <-- 小Tips：这里有没有发现，设置导航靠右对齐（或居中对齐）其实非常简单 -->
                <li class="layui-nav-item">
                    <a href="">通知<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
            <legend>~Generator Code~</legend>
        </fieldset>
        <div class="layui-row">
            <div class="layui-col-xs7">
                <div class="grid-demo grid-demo-bg1">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>全局配置</legend>
                    </fieldset>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">开发人员</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="title" autocomplete="on"
                                           placeholder="请输入代码开发人员姓名"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">主键规则</label>
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao">
                                        <!--<option value=""></option>-->
                                        <option value="ASSIGN_ID">ASSIGN_ID</option>
                                        <option value="AUTO">AUTO</option>
                                        <option value="INPUT">INPUT</option>
                                        <option value="ASSIGN_UUID">ASSIGN_UUID</option>
                                        <option value="ID_WORKER">ID_WORKER</option>
                                        <option value="ID_WORKER_STR">ID_WORKER_STR</option>
                                        <option value="UUID">UUID</option>
                                        <option value="NONE">NONE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">接口文档</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">结果集</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">基础列</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">文件覆盖</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend>策略配置</legend>
                    </fieldset>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">Lombok</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">实体注解</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">抽象类</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary"
                                           title="SuperController"
                                           checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="SuperEntity">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表前缀</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off"
                                       placeholder="请填写表前缀，如tab_user -> tab_"
                                       class="layui-input">
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>数据源配置</legend>
                    </fieldset>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">账号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off"
                                           placeholder="请输入登录账号"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="title" lay-verify="title" autocomplete="off"
                                           placeholder="请输入连接密码"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">驱动</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off"
                                       placeholder="请填写数据库连接驱动"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">连接</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off"
                                       placeholder="请输入数据库连接地址"
                                       class="layui-input">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-xs-offset1">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>选择表</legend>
                </fieldset>
                <div id="tables" class="demo-transfer"></div>

            </div>
        </div>
        <div class="layui-form-item" style="text-align: center; margin-top: 40px;">
            <button type="button" class="layui-btn layui-btn-normal">拉取表¹</button>
            <button type="button" class="layui-btn layui-btn-normal">开始执行²</button>
            <button type="button" class="layui-btn layui-btn-primary">重置表单</button>
        </div>
    </div>
</main>
<footer>
    @copy 2020-09
</footer>
<script src="../layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['transfer', 'form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , transfer = layui.transfer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //模拟数据
        var data1 = [
            {"value": "1", "title": "李白"}
            , {"value": "2", "title": "杜甫"}
            , {"value": "3", "title": "苏轼"}
            , {"value": "4", "title": "李清照"}
            , {"value": "5", "title": "鲁迅", "disabled": true}
            , {"value": "6", "title": "巴金"}
            , {"value": "7", "title": "冰心"}
            , {"value": "8", "title": "矛盾"}
            , {"value": "9", "title": "贤心"}
        ];
        //基础效果
        transfer.render({
            elem: '#tables'
            , data: data1
        })
    });
</script>
</body>
</html>